@model List<SearchResult>
<br />
@{
    ViewBag.Title = "Search Result";
}

    <div style="background: #ffffff; color: black">
        <ul>
            @foreach (var item in Model)
            {
                @*<li style="width:500px">
                        <a href="@item.Link" style="color:blue">@item.Title</a><br />
                        <span style="font-size:15px;color:green">@item.Link</span><br />
                        <span style="color:gray;">@item.Snippet</span>
                        <img src="@item.Link" alt="@item.Title" class="img-responsive">
                        <hr />
                    </li>*@

            <li>
                <a href="@item.Link" class="text-dark">@item.Link</a>
                <span class="text-info"><p>@item.Title</p></span>
                <p>@item.Snippet</p>
            </li>
                
            <hr />

            }
        </ul>
    </div>


@*<iframe src = "@item.Link" width = "100%" height = "100%" >

                         < p > Your browser does not support iframes.</ p >

                        </iframe >*@


@*<iframe src="https://www.visual-paradigm.com/guide/uml-unified-modeling-language/what-is-uml/" width="100%" height="100%">
        <p>Your browser does not support iframes.</p>
    </iframe>*@