@model List<SearchResult>
<br />
@{ Html.RenderPartial("Index"); }



    <ul style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; border: none; margin:auto">
        @foreach (var item in Model)
        {
            <li style="width:500px">
                <a href="@item.Link" style="color:blue">@item.Title</a><br />
                <span style="font-size:15px;color:green">@item.Link</span><br />
                <span style="color:gray;">@item.Snippet</span>
                <img src="@item.Link" alt="@item.Title" class="img-responsive">
                <hr />
            </li>
        }
    </ul>
    <iframe width="100%" height="100%">
    </iframe>